<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nick's Amazing Sugar Intake Tracker</title>
    <link rel="stylesheet" href="styles.css"> <!--For some reason it's not reading the css file, so I'll just style it directly for now-->
</head>
<style>
h1, p, h2
{
    text-align: center;
    color:rgb(173, 108, 24);
}
body
{
    background-color: bisque;
}

</style>
<body>
    <h1>Welcome New User!</h1>
    <h2>Please enter the food item you want to track</h2>

    <br>
    <br>
    <h2>OR, if you'd like to make a sugar intake limit and be reminded of it, please make an account below</h2>
     <form id="contact-form">
        <fieldset>
            <legend>Name & Email</legend>
            <strong>Name</strong><br>
            <input type="text" name="nameBox" size="30" /> <br />
            <br>
            <strong>Email</strong><br>
            <input type="email"name="email" id="email" required>
        </fieldset>
</body> 
</html>